{% extends 'base.html' %} <!-- extendendo o o base.html" -->
{%  load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/load.jpg' %}" alt="">
    </div>

    {% include 'partials/_menu.html' %}

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                         <img  src={{ amigo.foto_amigo }} alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>{{amigo.getNome}}</h2>
                            <div class="receipe-duration">
                                <h6>Telefone:  {{amigo.getTelefone}}</h6>
                                <h6>Email:  {{amigo.email}}</h6>
                                <h6>Sugestao de Presente:  {{amigo.sugestao_presente}}</h6>
                                 <h6>Adicionado Por :    {{amigo.usuario}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <form action="excluir_amigo" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-12 col-lg-2">
             <input type="text" id="nomeDetail" class="form-control" name="id" value={{amigo.id}} >
        </div>
        <div class="col-12 text-center">
            <button class="btn delicious-btn mt-30" type="submit" onclick="exibirMensagem();">Excluir Amigo</button>

        </div>

    </form>
    {% include 'partials/_footer.html' %}

{% endblock %}




