{% extends 'base.html' %} <!-- extendendo o o base.html" -->
{%  load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/load.jpg' %}" alt="">
    </div>


    {% include 'partials/_menu.html' %}

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{% static 'img/bg-img/tomate_banner.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>30 de Fevereiro, 2000</span>
                            <h2>{{amigo.nome}}</h2>
                            <div class="receipe-duration">
                                <h6>Telefone:  {{amigo.telefone}}</h6>
                                <h6>Email:  {{amigo.email}}</h6>
                                <h6>Sugestao de Presente:  {{amigo.sugestao_presente}}</h6>
                                 <h6>Adicionado Por :    {{amigo.usuario.nome}}a</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    {% include 'partials/_footer.html' %}

{% endblock %}