{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
   <i class="circle-preloader"></i>
   <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>
 
{% include 'partials/_busca.html' %}
 
{% include 'partials/_menu.html' %}
 
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Adicione o Amigo , {{ user.username }} :)</h3>
               </div>
           </div>
       </div>
 
       <div class="row">
           <div class="col-12">
           <p>Todos os campos são obrigatórios</p>
               <div class="contact-form-area">
                   <form action="cadastrar_amigo" method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                       <div class="row">
                           <div class="col-12 col-lg-12">
                               <label for="nome"><b>Nome</b></label>
                               <input type="text" id="nome" class="form-control" name="nome" placeholder="Ex. Gabriela de Oliveira" required>
                           </div>

                           <div class="col-12 col-lg-12">
                               <label for="email"><b>Email</b></label>
                               <input type="text" id="email" class="form-control" name="email" placeholder="Ex. Gabrielaoliveira@gmail.com" required>
                           </div>

                           <div class="col-12 col-lg-6">
                               <label for="Telefone"><b>Telefone</b></label>
                               <input type="phone" id="telefone" class="form-control" name="telefone" placeholder="Ex. 99999999" required>
                           </div>

                           <div class="col-12 col-lg-6">
                               <label for="Telefone"><b>Sujestao de Presente</b></label>
                               <input type="text" class="form-control" name="sujestao" placeholder="Ex. Playstation5" required>
                           </div>
                           <div class="col-12 text-center">
                               <button class="btn delicious-btn mt-30" type="submit">Adicionar Amigo</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
 
{% include 'partials/_footer.html' %}
{% endblock %}